
body {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center content horizontally */
    max-width: 80%;
    margin: 0 auto; /* Centers the container horizontally */
}

/* Header styling */
.header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.subheader {
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-style: italic;
}

.content {
    display: flex;
    width: 100%; /* Full width inside container */
    gap: 20px;
}

.map-container {
    flex: 3; /* Takes up 2/3 of the space */
    position: relative;
}

.map-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 1;
}

.controls {
    margin-top: 30px;
    flex: 1; /* Takes up 1/3 of the space */
}

.denomination-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.count {
    color: rgba(0, 0, 0, 0);
    margin-left: 5px;
}

.denomination-item.selected .count {
    color: black;
    font-weight: normal;
}

.denomination-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    
}

.denomination-item:hover, .denomination-item.selected {
    background-color: white;
    color: black;
    font-weight: bold;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1.5px solid white;
}

.view-controls {
    display: flex;
    gap: 0; /* Removes space between buttons */
    border: 1px solid white;
    justify-content: center;
    width: 100%; /* Ensure it takes the full width */
}

.view-button {
    flex: 1; /* Makes both buttons take up equal space */
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 0; /* Adjust padding for better spacing */
    text-align: center;
    transition: background-color 0.2s ease;
}

.view-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Subtle hover effect */
}


.view-button.active {
    background-color: white;
    color: black;
}

.info {
    margin-top: 40px;
}

.gh img {
    width: 40px;
    height: 40px;
    border-radius: 10%;
    margin-top: 10px;
}

.gh img:hover {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0px;
    background-color: white;
    font-size: 14px;
    width: 100%;
    padding: 4px 0;
}

.a {
    color: white;
    text-decoration: none;
}
